.main {
  height: 100vh;
  background-color: white;
  background-image: url('/bg-patern.png');
  background-repeat: repeat;
  padding: 10px;
}

.itemCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: rgba(186, 241, 253, 1);
  border-radius: 30px;
  padding: 44px;
  box-shadow: var(--card-shadow);
  color: #68b3dd;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.offlineCard {
  background-color: var(--bg-main);
  padding: 60px 40px;
  color: #ea8989;
  text-align: center;
  border-radius: 30px;
  border: 1px solid #ea8989;
}

.colTitle {
  flex: 1;
  margin-top: 25px;
}

.colImage {
  flex: 1;
  position: relative;
  pointer-events: none;
}

.illustrationImage {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 170px;
  background-image: url('/Illustration-doctor.png');
  background-size: contain;
  background-repeat: no-repeat;
}
